# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Build
dist/
build/
.output/
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.swp

# WhatsApp Web
.wwebjs_auth/
.wwebjs_cache/